body {
	background-image: url("topography.png");
}

.mainbody {
	background-color: white;
	border: 1px solid #cccccc;
	padding: 20px;
	overflow: auto;
}

.post-content {
    top:0;
    left:15;
    position: absolute;
    background-color: #4aaaa5;
    width: 250px;
    top: 150px;
    align-content: center;
    text-align: center;
}

.img-responsive {
    position:relative;
    margin-bottom: 15px;

}



